*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    outline: none;
    text-decoration: none;
}

body{
    /* background-color: #d8d1d1; */
    background-color: aliceblue;
}